<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white text-center">
                    <h2>Şifre Sıfırlama Talebi Gönderildi</h2>
                </div>
                <div class="card-body text-center">
                    <p class="mb-4">Şifrenizi sıfırlamak için e-posta adresinize bir bağlantı gönderdik. Lütfen gelen kutunuzu kontrol edin.</p>
                    <a href="@Url.Action("Login", "JobSeekerLogin")" class="btn btn-dark mt-3">Giriş Yap</a>
                </div>
            </div>
        </div>
    </div>
</div>