@{
    ViewData["Title"] = "İş Arayan Girişi";
}

<h2>İş Arayan Girişi</h2>

<form method="post" action="@Url.Action("Login", "JobSeekerLogin")">
    <div>
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" required />
    </div>
    <div>
        <label for="Password">Şifre</label>
        <input type="password" id="Password" name="Password" required />
    </div>

    <button type="submit">Giriş Yap</button>
</form>
@if (ViewData["ErrorMessage"] != null)
{
    <p style="color: red;">@ViewData["ErrorMessage"]</p>
}

<!-- Kayıt Ol butonu -->
<div style="margin-top: 20px;">
    <p>Henüz bir hesabınız yok mu? <a href="@Url.Action("Register", "JobSeekerRegister")">Kayıt Ol</a></p>
</div>