@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-dark text-white">
                    <h2>Şifremi Unuttum</h2>
                </div>
                <div class="card-body">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    }

                    <form asp-action="ForgotPassword" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" name="email" required />
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Şifre Sıfırlama Linki Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>