@{
    ViewData["Title"] = "İşveren Girişi";
}

<h2>İşveren Girişi</h2>

<form method="post" action="@Url.Action("Login", "EmployerLogin")">
    <div>
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" required />
    </div>
    <div>
        <label for="Password">Şifre</label>
        <input type="password" id="Password" name="Password" required />
    </div>

    <button type="submit">Giriş Yap</button>
</form>
@if (ViewData["ErrorMessage"] != null)
{
    <p style="color: red;">@ViewData["ErrorMessage"]</p>
}

<!-- Kayıt Ol ve Şifremi Unuttum Butonları -->
<div style="margin-top: 20px;">
    <p>Henüz bir hesabınız yok mu? <a href="@Url.Action("Register", "EmployerRegister")">Kayıt Ol</a></p>
    <p>Şifrenizi mi unuttunuz? <a href="@Url.Action("ForgotPassword", "EmployerLogin")">Şifremi Unuttum</a></p>
</div>